.app {
    text-align: center;
    padding: 2px;

    &__header {
            width: 100%;
            background-color: #007bff;
            color: #fff;
            padding: 20px 0;
            text-align: center;
    
            h1 {
                margin: 0;
                font-size: 24px;
            }
        }
}